<script
src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
</script>
<div class="main-content" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    
                    <div class="content">
                        <div class="wrap-drop" >
                            <span>La liste des gouvernorats</span>


                            <select  #selectedGouv name="dropdownOption" id="dropdownOption" class='form-control'>
                                <option value="Gabès">Gabès</option>
                                <option value="Tozeur">Tozeur</option>
                                <option value="Tataouine">Tataouine</option>
                                <option value="Zaghouan">Zaghouan</option>
                                <option value="Manouba">Manouba</option>
                                <option value="Kairouan">Kairouan</option>
                                <option value="Kef">Kef</option>
                                <option value="Siliana">Siliana</option>
                                <option value="Jendouba">Jendouba</option>
                                <option value="Béja">Béja</option>
                                <option value="Monastir">Monastir</option>
                                <option value="Bizerte">Bizerte</option>
                                <option value="Ariana">Ariana</option>
                                <option value="Kasserine">Kasserine</option>
                                <option value="Medenine">Medenine</option>
                                <option value="Sousse">Sousse</option>
                                <option value="Sidi Bouzid">Sidi Bouzid</option>
                                <option value="Sfax">Sfax</option>
                                <option value="Gafsa">Gafsa</option>
                                <option value="Ben Arous">Ben Arous</option>
                                <option value="Mahdia">Mahdia</option>
                                <option value="Tunis">Tunis</option>

                                <option value="Nabeul">Nabeul</option>


                                </select>
                           
                                
                                <button style ="    margin-left: 63px;
"                                (click)="onAfficherClick(selectedGouv.value)">Afficher</button>

                                      
                        
                       
                    </div>
                    <table  *ngIf="gouvServiceData" class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Gouvernorats</th>
                                <th>Nb accidents</th>
                                <th>Nb tues</th>
                                <th>Nb blesses</th>
                
                            </tr>
                        </thead>
                        <tbody>
                              
                                <td>{{gouvServiceData.id}}</td>
                                <td>{{gouvServiceData.gouv}}</td>
                                <td>{{gouvServiceData.accidents}}</td>
                                <td>{{gouvServiceData.tues}}</td>
                                <td>{{gouvServiceData.blesses }}</td>
                                
                              
                            
                        </tbody>
                    </table> 
                    <h5 style="margin-left: 30px;
                    font-size: 29px;
                    margin-bottom: 17px;">Pourcentage des morts selon les gouvernorats : </h5>
                    <div  class="pie" style="--p:8.31"><h6>Tunis : </h6> 8.31%</div>
<div class="pie" style="--p:4.55;--c:darkblue;--b:10px"><h6>Mahdia: </h6> 4.55%</div>
<div class="pie no-round" style="--p:6.65;--c:purple;--b:15px"><h6>Nabeul : </h6> 6.65%</div>
<div class="pie animate no-round" style="--p:3.67;--c:orange;"><h6>Ben Arous : </h6> 3.67%</div>
<div class="pie animate" style="--p:1.84;--c:lightgreen"><h6>Gafsa : </h6> 1.84%</div>

<div class="pie" style="--p:11.37"><h6>sfax : </h6> 11.37%</div>
<div class="pie" style="--p:6.556;--c:darkblue;--b:10px"><h6>Sidi bouzid: </h6> 6.56%</div>
<div class="pie no-round" style="--p:7;--c:purple;--b:15px"><h6>Sousse : </h6> 7%</div>
<div class="pie animate no-round" style="--p:3.76;--c:orange;"><h6>Gaserine : </h6> 3.76%</div>
<div class="pie animate" style="--p:4.72;--c:lightgreen"><h6>Gabés: </h6> 4.72%</div>

<div class="pie" style="--p:11.37"><h6>Medenine : </h6> 5.95%</div>
<div class="pie" style="--p:2.45;--c:darkblue;--b:10px"><h6>Ariana: </h6> 2.45%</div>
<div class="pie no-round" style="--p:2.8;--c:purple;--b:15px"><h6>Bizerte : </h6> 2.8%</div>
<div class="pie animate no-round" style="--p:4.55;--c:orange;"><h6>Monastir : </h6> 4.55%</div>
<div class="pie animate" style="--p:4.37;--c:lightgreen"><h6>Béja: </h6> 4.37%</div>

<div class="pie" style="--p:3.24"><h6>Jandouba : </h6> 3.24%</div>
<div class="pie" style="--p:1.92;--c:darkblue;--b:10px"><h6>Séliana: </h6> 1.92%</div>
<div class="pie no-round" style="--p:5.51;--c:purple;--b:15px"><h6>Kairaouen: </h6> 5.51%</div>
<div class="pie animate no-round" style="--p:3.67;--c:orange;"><h6>kef : </h6> 3.67%</div>
<div class="pie animate" style="--p:2.36;--c:lightgreen"><h6>Manouba: </h6> 2.36%</div>

<div class="pie" style="--p:1.75"><h6>Zaghouan : </h6> 1.75%</div>
<div class="pie" style="--p:1.75;--c:darkblue;--b:10px"><h6>Tataouine: </h6> 1.75%</div>
<div class="pie no-round" style="--p:0.44;--c:purple;--b:15px"><h6>Tozeur : </h6> 0.44%</div>
<div class="pie animate no-round" style="--p:0.79;--c:orange;"><h6>Gbeli : </h6> 0.79</div>
                  
                </div>
            </div>
            
        </div>
        <div class="col-md-4">
            <div class="card card-user">
                 <img src="assets/img/tun.png"/>
            </div>
        </div>
    </div>



    
</div>
